<div class="Compro"ng-controller="ComproductsController" ng-init="ComproductsLoad()">
  <div class="col-md-12 col-sm-12 col-xs-12 DrugstoreName">
    <span>{{Termnial_name}}</span>
  </div>
    <div class="row1" ng-repeat="item in items" >
      <div class="comcontent" >
        {{item.FactoryName}}
        &nbsp;
       {{item.DrugsName}}
      </div>
      <div class=" arrow1">
        <a ui-sref="compedetail({IssuedId:item.CompId})"class="glyphicon glyphicon-menu-right arrowPosition "></a> 
      </div>
    </div>
     <div id="nomore"></div>
    <div class="loadmore" ng-click="LoadMore(items[1].ListCount)">
      更多...
    </div>
</div>