
<div ng-controller="SearchListController" ng-init="SearchListLoad()" >
  <div class="col-md-12 col-sm-12 col-xs-12 DrugstoreName">
    <span>{{TerminalName}}</span>
    <p class="glyphicon glyphicon-th-list pull-right " data-toggle="dropdown" aria-expanded="false"></p>
      <ul class="dropdown-menu pull-right listmore">
        <li >
          <a ui-sref="SearchList">
            <span class="glyphicon glyphicon-bell"></span>待处理
          </a>
        </li>
        <li>
          <a ui-sref="SearchList.SearchResolved">
            <span class="glyphicon glyphicon-flag"></span>已处理
          </a>
        </li>
      </ul>
  </div>
  <div ui-view>
      <div  ng-controller="SearchPendController" ng-init="SearchPendLoad()">
        <div class="col-md-12 col-sm-12 col-xs-12 count">
              <p class="pull-right">共计:{{items[1].ListCount}}条</p>
          </div>
          <div class="searchcontent" ng-repeat="item in items[2]">
              <div class="row row1">
                  <div class="col-md-6 col-sm-6 col-xs-7" >
                    <span class="pull-left">{{item.IssuedName}}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-5">
                    <span class="pull-right">{{item.timestamp}}</span>
                  </div>
              </div>
              <div class="row row2">
                <div class="col-md-11 col-sm-11 workcontent">
                  <p>
                    {{item.IssuedContent.substr(0,37)}}
                    <span class="getmore"ng-show="{{flag==true}}">{{item.IssuedContent.substr(37)}}</span>
                    <span class="showall"ng-click="ShowAll(item.IssuedId)">阅读全文</span>
                  </p>
                </div>
                <div class="col-md-1 col-sm-1  arrow">
                    <a ui-sref="Comproducts({IssuedId:item.IssuedId})"class="glyphicon glyphicon-menu-right arrowPosition "></a> 
                </div>
                <a class="btn btn-small btn-danger">待处理
                </a>
              </div> 
          </div>
          <div id="nomore"></div>
          <div class="loadmore" ng-click="LoadMore(items[1].ListCount)">
            更多...
          </div>
    </div> 
  </div>
</div>