<div ng-controller="greetController" class="choosetermnial" ng-init="load()">
  <div class=" termnialtitle">
    <span >附近终端</span>
  </div>
    <div >
        {{href}}<br/>
        用户id:{{UserId}}<br/>
        选择的图片的id{{serverId}}
    </div>
    <div class="Manual" ng-repeat="list in Slist">
        <span class="radion">
          <input type="radio" name="radiobutton" ng-click="radiochoose()" value="{{list.Termnial_id}}"/>
        </span>
        <p class="imgs">{{list.Termnial_id}}</p>
        <!-- <img class="imgs" src="../assets/img/redmarke.png"> -->
      <p class=" Manualtermnialname" width="200px">{{list.name}}</p>
      <span class="Manualcontent">地址:{{list.address}}</span>
      <br/>
      <span class="Manualcontent">联系人:{{list.contact}}</span>
       <br/>
      <span class="Manualcontent">联系电话:{{list.phone}}</span>
    </div>
    <div class="choosetem">
      <span id="sto" class=""><span id="termnailname"></span></span>
    </div>
    <div class="collecting">
      <span ng-click="ScanSignature()"><img class="uploadimg"src="../assets/img/111.jpg"></span>
      <!-- <span><a href="https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid=wxa2185a2142b1e98f&corpsecret=G8ZcwvAbFzcQzlzm8pkO8gDHZUizMfDvX1BZoZlUcDt5ohCA-Kn2eUB6Vu7poEr0">cxvxv</a>
        <a target="_blank" href="https://qyapi.weixin.qq.com/cgi-bin/get_jsapi_ticket?access_token=dLIVTQEegLP22OJY9AEXKt99p_LrA1Qwr-BA7S7P4DW32SVU0-4PjwihtWWzyEd3">bbbb</a></span>
 --> 
    </div>
    <div class="btnstyle">
      <button id="savebutton" class="btn savebutton"ng-click="save()">保存</button>
      <button ng-click="test()">test</button>{{testlist}}
    </div>
</div>