<div ng-controller="greetController" class="choosetermnial" ng-init="load()">
  <div class=" termnialtitle">
    <span >附近终端</span>
  </div>
    <div class="Manual" ng-repeat="list in Slist">
        <!-- 图表中显示终端的类型 -->
        <!-- <p class="imgs">{{list.Termnial_id}}</p> -->
        <!-- <img class="imgs" src="../assets/img/redmarke.png"> -->
      <a ui-sref="termnialDetial({Termnial_id:list.Termnial_id})"><p class=" Manualtermnialname">{{list.name}}</p></a>
    </div>
   <!--  <div class="choosetem">
     <span id="sto" class=""> 终端名称：<span id="termnailname"></span></span>
    </div> -->
   <!--  <div class="collecting">
      <span ng-click="ScanSignature()"><img class="uploadimg"src="../assets/img/111.jpg"></span>
    </div> -->
   <!--  <div class="btnstyle">
      <button id="savebutton" class="btn savebutton" ng-click="save()">保存</button>
    </div -->
</div>